* {
    margin: 0%;
    padding: 0%;
    
}

body {
    background-color: #F6F4F1;
}

#nav_bar {
    position: sticky;
    background-color: #ffff;
    height: 70px;
    width: auto;
}
#nav_hor {
    position: sticky;
    background-color: #1A1A1A;
    height: 742px;
    width: 85px;
    margin-top: -70px;
    z-index: 999;
}
#bell1 {
    margin-left: 10%;
}

.container1 {
    position: absolute;
    scale: 15%;
    left: -208px;
    top: -215px;
}



/** nav end  */