* {
    margin:0;
    padding:0;
}

.img_1 {
    position: fixed;
    height: 870px;

}

.img_2 {
    display: none;
}
.img_3 {
    display: inline;
    margin-top: -220px;
    margin-left: 472px;
    scale: 13%;
    position: fixed;
}

.gamja-flower-regular {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

button {
    position: fixed;
    height: 70px;
    width: 300px;
    cursor: pointer;
    background-color: #59B379;
    color: #fad868;
    font-size: 42px;
    font-weight: bolder;
    margin-left: 250px;
    border-radius: 15px;
    margin-top: 580px;
    font-family: "Gamja Flower", sans-serif;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.638);
}

button:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.681);
}

.but_1:hover {
    .img_2 {
        display: inline;
        margin-top: -220px;
        margin-left: 472px;
        scale: 13%;
        position: fixed;
    }
    .img_3 {
        display: none;

    }
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.681);
}


/* 
@media (max-width: 1000px) {
    .404_page {
        display: none;
    }
} */